<div class="navigation-wrapper-copy-copy-copy">
    <a href="{{ links.2f }}" class="logo hi w-inline-block">{%- image images.-2c4b5b96.url, images.-2c4b5b96.alt, '[]', 'class="image-115"' -%}</a>
    <div class="button-menu">
      <div class="menu-1"></div>
      <div class="menu-2"></div>
    </div>
  </div>