<div class="navigation-wrapper-copy-copy-copy-copy">
    <a href="{{ links.23 }}" class="logo-copy w-inline-block">{%- image images.4b780196.url, images.4b780196.alt, '[]', 'class="image-115"' -%}</a>
    <div class="button-menu">
      <div class="menu-1"></div>
      <div class="menu-2"></div>
    </div>
  </div>